{% if site.footer_visitors.enabled %}
<div class="page__footer-visitors">
  <p class="page__footer-visitors__copyright">
    &copy; {{ site.time | date: '%Y' }} {{ site.footer_visitors.copyright_name | default: site.author.name | default: site.title }}
  </p>
  <p class="page__footer-visitors__stats">
    Total Views: <span id="busuanzi_site_pv">...</span>
    &nbsp;|&nbsp;
    Unique Visitors: <span id="busuanzi_site_uv">...</span>
  </p>
</div>
<script async src="https://busuanzi-api.clii.cn/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}
