/* Footer visitor stats */

.page__footer-visitors {
  text-align: center;
  margin: 1.75em auto 1em;
  padding: 0 1em 0.5em;
  max-width: 42rem;
  font-family: $global-font-family;
  font-size: $type-size-7;
  color: var(--global-text-color-light);
  line-height: 1.5;

  p {
    margin: 0 0 0.5em;
  }

  &__copyright {
    color: var(--global-text-color);
    font-size: $type-size-6;
  }

  &__stats {
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}

.page__footer footer {
  .page__footer-visitors {
    margin-left: auto;
    margin-right: auto;
  }
}
